#bridgePrompt {
    position: absolute;
    
    top: calc(23% + 60vw);

    width: 100%;
    bottom: 0;
}
.blink {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: blinkin;
}

@keyframes blinkin {
    from {
        opacity: 100%;
    }
    50% {
        opacity: 30%;
    }
    to {
        opacity: 100%;
    }
}

#bridgePrompt p {
    position: absolute;
    font-size: 40pt;
    width: 100%;
    text-align: center;

    top: calc(50% - 17vw);
    left: 50%;
    transform: translate(-50%, -100%);
}

#bridgePrompt img {
    position: absolute;
    width: 20vw;

    top: calc(50% - 10vw);
    
    left: 50%;
    transform: translate(-50%, 0);
}