@media (orientation: landscape) {
    .turnPrompt {
        display: block;
    }
}

@media all and (orientation: portrait) {
    .turnPrompt {
        display: none;
    }
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
	overflow: hidden;
    font-family: 'GSans';
}

body {
	position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
	overflow: hidden;
}

#mainContainer{
    height: 100%;
}

#header{
    position: absolute;
    top: 15vh;
    font-family: 'GSans';
    text-align: center;
    width: 100vw;
    font-size: 40pt;

    transition: top 500ms;
}

#header.move {
    position: absolute;
    top: 5vh;
    font-family: 'GSans';
    text-align: center;
    width: 100vw;
    font-size: 40pt;
}

#illust {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 23vh;
    width: 80vw;
    height: auto;

    transition: top 500ms;
}

#illust.move {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 10vh;
    width: 80vw;
    height: auto;
}

#buttonContainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: calc(10vh + 60vw);
    width: 100vw;
    text-align: center;
    margin-top: 1vh;
}

#buttonContainer .button{
    position: relative;
    width: 80vw;
    height: 7vh;
    border: black solid 2px;
    border-radius: 30pt;
    left: 10vw;
    margin-top: 1vh;
    background-color: #a9d0f5;
    line-height: 7vh;
    font-size: 30pt;
}