@font-face {
    font-family: GSans;
    src: url('GmarketSansTTFMedium.ttf') format('truetype');
    src: url('GmarketSansMedium.otf') format('opentype');
}

@font-face {
    font-family: GSansBold;
    src: url('GmarketSansTTFBold.ttf') format('truetype');
    src: url('GmarketSansBold.otf') format('opentype');
}

@font-face {
    font-family: GSansLight;
    src: url('GmarketSansTTFLight.ttf') format('truetype');
    src: url('GmarketSansLight.otf') format('opentype');
}